html {
  background: radial-gradient(circle at center, #0d0221, #0f084b);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;
}

.title {
  margin-top: 0px;
  font-size: 80px;
  text-align: center;
}
.start_container {
  margin: 0 auto;
  width: 20%;
  padding: 2%;
  border-radius: 4%;
  background-color: #0d0221;
  border: #2c3e50;
  border-style: solid;
  border-width: 4px;
  
  text-align: center;
}
.start_form {
  
  display: grid;
  grid-template-columns: 60% 40% ;
}

.start_input {
  margin: 10px;
}

.error_message {
  padding: 5px;
  margin: 5px;
  background-color: #ffff00;
  color: #ff0000;
  border: #ff0000;
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
}

.game_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 40% auto 40%;
}

.board_container {
  display: grid;
  grid-template-rows: 100px auto 100px;
  background-color: #202841;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;

}
.player_board_active
{
  background-color: #a6cfd5;
}

.board_player_name {
  text-align: center;
  font:bold;
  font-size: 50px;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  background-color: #26408b;
  border-radius: 10px;
  box-shadow: 0px 0px 50px black;
}
.cards_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  margin: auto;
  width: fit-content;

  border: #2c3e50;
  border-style: solid;
  border-radius: 2%;
  box-shadow: 0px 0px 50px black;
}

.board_total_cards {
  text-align: center;
  font:bold;
  font-size: 20px;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  background-color: #26408b;
  border-radius: 10px;
  box-shadow: 0px 0px 50px black;
}

/* Middle board */
.drawer_container {
  background-color: burlywood;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 2%;
}
.card {
  background-color: #c2e7d9;
  text-align: center;
  float: left;
  width: 100px;
  height: 180px;
  border: #2c3e50;
  border-style: solid;
  border-radius: 10px;
  margin: 25px;
  position: relative;
}

.card_high {
  background: radial-gradient(circle at center, #fff, #a6cfd5);
}

.card_middle {
  background: radial-gradient(circle at center, #a6cfd5, #26408b);
}

.card_low {
  background: radial-gradient(circle at center, #26408b, #0f084b);
}

.card_negative {
  background: radial-gradient(circle at center, #a6cfd5, #4444ff);
}

.card_hidden {
  background: radial-gradient(circle at center, #2c3e50, #0d0221);
}
.card_hidden:hover {
  background: radial-gradient(circle at center, #a6cfd5, #a6cfd5);
}

.card_btn {
  width: 80%;
  position: absolute;
  bottom: 50px;
  left: 10%;
}
.card_little_numb_1
{
  background-color: white;
  color: #0f084b;
  width: fit-content;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 0;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 50%;
  transform: rotate(2deg);
}
.card_little_numb_2
{
  background-color: white;
  color: #0f084b;
  width: fit-content;
  float: right;
  margin-top: 10%;
  margin-right: 5%;
  padding: 2%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 50%;
  transform: rotate(2deg);
}
.card_number {
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
  font-size: 80px;
  transform: rotate(2deg);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #0f084b;
}

.card_in_hand {
  position: absolute;

  bottom: 50px;
}
